:root {
    --background: #fffffe;
    --headline: #272343;
    --paragraph: #2d334a;
    --button: #ffd803;
    --button-text: #272343;
    --stroke: #272343;
    --main: #fffffe;
    --highlight: #ffd803;
    --secondary: #e3f6f5;
    --tertiary: #bae8e8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--paragraph);
    font-family: 'Product Sans', sans-serif;
    line-height: 1.5;
    
}

code{
    color: #435ece;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:var(--tertiary);
}

.container{
    background-color: var(--background);
    max-width: 1440px;
    margin: 0 auto;
    
}


header {
    background-color: var(--highlight);
    border-radius: 0 0 20px 20px;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 
        0 0 20px rgba(255, 255, 165, 0.8),   /* Sombra principal amarilla */
        0 0 40px rgba(255, 246, 221, 0.6),   /* Segunda capa más grande */
        0 0 60px rgba(255, 255, 149, 0.4); 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 15px 15px;
}

nav ul li a {
    color: var(--paragraph);
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

section{
    margin: 2em 0;
    font-size: 1.2em;
}

h2{
    padding-top: 1em;
    text-align: center;
}

h3{
    text-decoration: underline;
}

h2, h3{
    margin: 0.5em 0;
}

#sintaxis-variables img{
    width: 550px;
    border-radius: 10px;
    margin: 1em 0;
}

main{
    padding: 0 3em;
}

footer{
    text-align: center;
    padding: 2em 0;
}

i{
    margin-right: .3em;
}

img{
    border-radius: 10px;
    margin: 1em 0;
    width: 650px;
}

.const-img{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    display: flex;
}

.const-obj-arr{
    width: 600px;
    margin: 0 auto;
}

.ej-img img{
    width: 100%;
}

.ej-img{
    text-align: center;
    margin: 2em auto;
    width: 900px;
    box-shadow: 
        0 0 20px rgba(255, 255, 165, 0.8),   
        0 0 40px rgba(255, 246, 221, 0.6),   
        0 0 60px rgba(255, 255, 149, 0.4); 
}

/*estilos boton volver arriba*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--button);
    color: var(--button-text);
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.3em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
    background: var(--highlight);
    transform: scale(1.02);
}

span{
    font-size: 5em;
}

.casosFor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 3em auto;
    width: 700px;
    padding: 2em 2em;
    border-radius: 10px;
    background-color: var(--highlight);
}

.casosFor h3{
    margin: 0;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    gap: .5em;
}

.casosFor ul{
    padding-left: 2em;
    text-align: start;
}

h4{
    margin: .5em;
    color:  var(--paragraph);
    letter-spacing: 1px;
    font-weight: bold;
}

strong{
    background-color: var(--highlight);
    padding: .2em;
}

.break-continue{
    border-radius: 10px;
    margin: 1em;
    padding: 1em 1em;
    background-color: var(--tertiary);
    gap: 70px;
    display: flex;
    align-items: center;
}

.break{
    width: 50%;
}

.continue{
    width: 50%;

}

.break img{
    width: 100%;
}

.continue img{
    width: 100%;

}

.break-continue-excali{
    width: 100%;
    border-radius: 10px;
    gap: 20px;
    display: flex;
    align-items: center;
}
.break-continue-excali img{
    width: 50%;
}

.solid li p{
    text-indent: 60px;
    color: #435ece;
}

.beneficios, .parametros, .anon-function, .objetosUl, .met-op-ul, .clases{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fraseFunction{
    padding: 2em 0;
    font-size: 1.2em;
}

.fraseFunction p{
    text-align: center;
}

#objetos img{
    width: 500px;
}

.functConst{
    width: 900px !important;
}

img.class{
    width: 900px !important;
}